# MADE BY:
#  __    __                                          __        __  __  __                     
# /  |  /  |                                        /  |      /  |/  |/  |                    
# $$ |  $$ |  ______   _______    ______    ______  $$ |____  $$/ $$ |$$/   _______  __    __ 
# $$  \/$$/  /      \ /       \  /      \  /      \ $$      \ /  |$$ |/  | /       |/  |  /  |
#  $$  $$<  /$$$$$$  |$$$$$$$  |/$$$$$$  |/$$$$$$  |$$$$$$$  |$$ |$$ |$$ |/$$$$$$$/ $$ |  $$ |
#   $$$$  \ $$    $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |$$ |$$ |$$ |      $$ |  $$ |
#  $$ /$$  |$$$$$$$$/ $$ |  $$ |$$ \__$$ |$$ |__$$ |$$ |  $$ |$$ |$$ |$$ |$$ \_____ $$ \__$$ |
# $$ |  $$ |$$       |$$ |  $$ |$$    $$/ $$    $$/ $$ |  $$ |$$ |$$ |$$ |$$       |$$    $$ |
# $$/   $$/  $$$$$$$/ $$/   $$/  $$$$$$/  $$$$$$$/  $$/   $$/ $$/ $$/ $$/  $$$$$$$/  $$$$$$$ |
#                                         $$ |                                      /  \__$$ |
#                                         $$ |                                      $$    $$/ 
#                                         $$/                                        $$$$$$/       
VERSION: "2.2.0" # Internal use only

# Choose your transfer type:
# "external" will use an IP address and port to move players between SERVERS
# "internal" will use your preset command string to move players between WORLDS
# "hybrid" will include both transfer types
Transfer-Type: "hybrid"

# This is the command string that will be used to transfer players between WORLDS
# Don't worry about this if you're only using the EXTERNAL transfer type
# Use '{player}' for the player's name
# Use '{world}' for the world name
World-CMD: "multiworld tp {world} {player}"

# This is where you choose if world command should be run by the player or the console
# Don't worry about this if you're only using the EXTERNAL transfer type
# Options are: "console" and "player"
World-CMD-Mode: "console"

# Add a small delay before transferring/teleporting for a title to show
Titles:
  # Set the delay to show the title before transferring/teleporting
  # This value is in seconds (default is 2 seconds)
  # Set this to false or 0 for no delay
  Delay: 2

  # Set the formatting for the title shown to players when transferring SERVERS
  Transfer: "§a§oTransferring..."

  # Set the formatting for the title shown to players when teleporting between WORLDS
  Teleport: "§a§oTeleporting..."

# A list of available sounds can be found below
# Set the options below to false if you'd rather have no sound play during these events
Sounds:
  # Choose what sound (if any) to play when opening the UI
  UI: "pop"

  # Choose what sound (if any) to play while transferring SERVERS
  Transfer: "blaze-shoot"

  # Choose what sound (if any) to play while teleporting between WORLDS
  Teleport: "anvil-break"

# Available PocketMine sounds list
# anvil-break
# anvil-fall
# anvil-use
# blaze-shoot
# click
# door-bump
# door-crash
# enderman-teleport
# fizz
# ghast-shoot
# ghast
# launch
# pop

Command:
  # Choose whether the command method should be enabled
  Enabled: true

  # This is name of the command that players will use to opent the UI
  Name: "/servers"

  # This is the command's description shown in the command window
  Description: "Open the server list!"

  Permission:
    # Choose whether to require players to have permission to use the command
    Enabled: false

    # This is the command's usage permission
    Node: "navicompass.use"

Selector:
  # Choose whether the selector item should be enabled
  Enabled: true

  # Choose what item the server selector should be
  # Default item is Compass (345)
  Item: 345

  # Choose what slot of the player's inventory the selector should appear in
  # The range for this input is 0-35 (0-8 are the player's hotbar)
  Slot: 0

  # Choose whether to prevent players from dropping or moving the selctor to different slots
  Force-Slot: true

  # This is the text that will show on the selector in the player's inventory
  Name: "§l§aServer Selector"

  # This is the selector item's description that is displayed under the name
  Lore: "§bClick for Servers"

UI:
  # This is the title of the transfer UI
  Title: "§9Server List"

  # This is the message that will show under the title on the transfer UI
  Message: "§aChoose a server to transfer to!"

  Status-Format:

    # Edit the format for online servers
    Online: "§aOnline"

    # This is where you edit the format for offline servers
    Offline: "§cOffline"

  # This is the message displayed under each SERVER button
  # Don't worry about this if you're only using the INTERNAL transfer type
  # Use '{current-players}' for the server's current player count
  # Use '{max-players}' for the server's max player count
  # Use '{status}' to show whether the server is online or offline (the colors can be customized under Status-Format)
  Server-Button-Subtext: "§r{status} §8(§a{current-players}§8/§b{max-players}§8)"

  # This is the message displayed under each WORLD button
  # Don't worry about this if you're only using the EXTERNAL transfer type
  # Use '{current-players}' for the world's current player count
  World-Button-Subtext: "§r§o§8Tap to Teleport §8(§a{current-players} §eplayer(s)§8)"

# This is where you list your servers or worlds to be displayed on the transfer UI
# You can use '§' and '&' on the labels to style your servers or worlds inside the UI
# For images, use 'url' or 'path' to show an image in the menus (or leave blank to disable)
# NOTE: If you are using a URL, do NOT include the 'https://' or 'http://' in the link!
# If you don't want to use an image, simply don't add anything after your server port/world alias in the listing
# If you are using the INTERNAL transfer type, the world alias will be used in the transfer command
# You must also be sure that the world alias is EXACTLY the same as the world's folder name

# Add as many servers or worlds as you'd like:
# Add SERVERS using this format → ext:ServerTitle:ServerIP:ServerPort:ImageType:Path/URL
# Add WORLDS using this format → int:WorldTitle:WorldAlias:ImageType:Path/URL
List:
  - "ext:§l§2Prison §eServer:play.xenoservers.net:19133:url:file.xenoservers.net/Resources/GitHub-Resources/navicompass/prison.png" # ← EXTERNAL server example
  - "int:§l§5Creative:xenoCreative:url:file.xenoservers.net/Resources/GitHub-Resources/navicompass/creative.png" # ← INTERNAL world example
